# git prompt enable
GIT_PROMPT_PATH="$HOME/scoop/apps/git/current/etc/profile.d/git-prompt.sh"
if [ -f "$GIT_PROMPT_PATH" ]; then
  source "$GIT_PROMPT_PATH"
elif [ -f "/etc/profile.d/git-prompt.sh" ]; then
  source "/etc/profile.d/git-prompt.sh"
fi

# custom ps1
if type __git_ps1 >/dev/null 2>&1; then
  export PS1="\[\033[1;34m\][\t] \[\033[0;32m\]\u@\h\[\033[0;36m\]:\[\033[0;33m\]\w\[\033[0;35m\]\$(__git_ps1 ' (%s)')\[\033[0m\]\$ "
else
  export PS1="\[\033[1;34m\][\t] \[\033[0;32m\]\u@\h\[\033[0;36m\]:\[\033[0;33m\]\w\[\033[0m\]\$ "
fi

# common aliases
alias ll='ls -alh --color=auto --group-directories-first'
alias gl='git log --name-status \
  --pretty=format:"%C(auto)%n--------------------------------------------------%n%C(yellow)commit:%C(reset) %h%n%C(cyan)date:%C(reset)   %ad%n%C(green)author:%C(reset) %an%n%C(magenta)msg:%C(reset)   %s%n" \
  --date=iso-local'
alias lg='lazygit'
alias gp='git pull'
alias gs='git pull & git push'
alias hosts='vim /c/Windows/System32/drivers/etc/hosts'

# local aliases
{{ if eq .location "home" -}}
alias cdr='cd /c/briiiqtt/repo/01-in-Progress'
alias cdappdata='cd /c/Users/hihi/Appdata'
alias nconf='cd /c/Users/hihi/AppData/Local/nvim'
{{ end -}}
